<div class="ui grid">
    <div class="ui column ztxbbs_forum_banner small_shadow" style="background-image: url('/images/dynamic.jpg');">
        <div class="ui header ztxbbs_header_big" style="position: absolute; bottom: 30px; left:40px;">
            动态
        </div>
    </div>
</div>