<div class="ui inverted vertical footer segment" style="margin-bottom:0em !important; margin-top: 21em; padding: 2em 0em;">
  <div class="ui center aligned container">
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="https://github.com/zhangtianxiang/BuCunZaiDe">Source Code on Github</a>
      <a class="item" href="https://nodejs.org/">Nodejs</a>
      <a class="item" href="http://expressjs.com/">Express</a>
      <a class="item" href="http://docs.sequelizejs.com/">Sequelize</a>
      <a class="item" href="http://blog.csdn.net/hzoi_ztx">ztx<span style="font-size:10px;">97<span></a>
    </div>
  </div>
</div>