<div class="ui three wide column computer tablet only" style="
  padding-left: 0px !important;padding-right: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important; background-color: #333;height:200px;">
    <div class="ui middle aligned one column centered grid" style="height:200px;">
      <div class="column" style="text-align: center;">
        <a href="/users/<%= user.id %>" style="color: white; opacity: 0.7;">
           <%= user.nickname %>
        </a>
      </div>
    </div>
</div>
<div class="ui three wide column mobile only" style="
  padding-left: 0px !important;padding-right: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
  <div class="ui top attached segment"  style="background-color: green; display: flex; flex-direction: row;padding-top:10px;padding-bottom: 10px;padding-left: 30px;padding-right: 30px;">
      <div style="margin-left:0px; line-height: 50px; ">
        <a href="/users/<%= user.id %>" style="color: white; opacity: 0.7;">
           <%= user.nickname %>
        </a>
      </div>
  </div>
</div>
