<%- include('header') %>
<h1>404</h1>
<div class="ui section divider"></div>
<div class="ui text container">
    <p>从前有座山，山上有座庙</p>
    <p>庙里有个老和尚，长得真是俏</p>
    <p>俏也不争春，只把春来报</p>
    <p>待到山花烂漫时</p>
    <p>一个页面不见了Σ(っ°Д°;)っ</p>
</div>
<%- include('footer') %>