<%- include('header') %>
<%- include('components/message_head') %>

<div class="ui items" style="margin-top: 20px" id="messages">
<%- include('components/message_detail_card') %>
</div>

<%- include('footer') %>